wander
bounce
pacman
plat
canvas
*.o
*.exe
*.so
*.dll
libcanvas.a
libcanvas_host.a
src/*.o
src/*.win32.o
.hot/

# MSVC (TOOLSET=msvc / cl hot-reload)
*.obj
*.lib
*.exp
*.pdb
*.ilk
*.idb
*.iobj
*.ipdb
*.pch
*.sbr
*.bsc
*.res
*.tlog
*.lastbuildstate
*.ipch
.vs/
*.VC.db
*.VC.opendb

